#q1a1 {
	background-image: url("../Images/Ladder.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q1a2 {
	background-image: url("../Images/Koala.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q1a3 {
	background-image: url("../Images/Outlet.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q1a4 {
	background-image: url("../Images/Trippy.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q2a1 {
	background-image: url("../Images/Pizza.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q2a2 {
	background-image: url("../Images/Seven.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q2a3 {
	background-image: url("../Images/660.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q2a4 {
	background-image: url("../Images/Please.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q3a1 {
	background-image: url("../Images/Weiner.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q3a2 {
	background-image: url("../Images/Jackass.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q3a3 {
	background-image: url("../Images/Dumbo.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q3a4 {
	background-image: url("../Images/Pig.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q4a1 {
	background-image: url("../Images/GreenGrenades.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q4a2 {
	background-image: url("../Images/RedBalloons.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q4a3 {
	background-image: url("../Images/OrangeNumbers.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q4a4 {
	background-image: url("../Images/BlueEyes.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q5a1 {
	background-image: url("../Images/WeirdAl.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q5a2 {
	background-image: url("../Images/Weirdo.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q5a3 {
	background-image: url("../Images/Snoopy.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q5a4 {
	background-image: url("../Images/Eric.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q6a1 {
	background-image: url("../Images/Tours.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q6a2 {
	background-image: url("../Images/Fours.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q6a3 {
	background-image: url("../Images/Doors.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q6a4 {
	background-image: url("../Images/Chores.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q7a1 {
	background-image: url("../Images/Lady.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q7a2 {
	background-image: url("../Images/Gaga.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q7a3 {
	background-image: url("../Images/Man.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q7a4 {
	background-image: url("../Images/Bathroom.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q8a1 {
	background-image: url("../Images/Laundry.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q8a2 {
	background-image: url("../Images/Time.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q8a3 {
	background-image: url("../Images/Scoreboard.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q8a4 {
	background-image: url("../Images/Dishes.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q9a1 {
	background-image: url("../Images/Fan.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q9a2 {
	background-image: url("../Images/Pillow.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q9a3 {
	background-image: url("../Images/Guitar.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q9a4 {
	background-image: url("../Images/Boxes.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q10a1 {
	background-image: url("../Images/Stomach.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q10a2 {
	background-image: url("../Images/Carrot.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q10a3 {
	background-image: url("../Images/Turkey.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

#q10a4 {
	background-image: url("../Images/Herbs.jpg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}